
<div class="row">
  <form class="ui form" action='/login' method='post'>
    <h4 class="ui dividing header">Sign In</h4>
    <div class="field">
      <label>Email</label>
      <input type="text" name="registered_user[email]" placeholder="Email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="registered_user[password]" placeholder="Enter password here">
    </div>
    <div class="ui button" tabindex="0">Submit Order</div>
  </form>
</div>
