<div class="row">
  <form class="col s12" action='/login' method='post'>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="abc@email.com" id="email" type="text" class="validate" name="registered_user[email]">
        <label class="active" for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="registered_user[password]">
        <label class="active" for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
      <i class="material-icons right">play_arrow</i>
    </button>
  </form>
</div>
