<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col-phone">
    <img class="mdl-cell mdl-cell--4-col-phone" src="http://www.themalaymailonline.com/images/sized/ez/chan_hong_meng_michelin0208_620_422_100_620_422_100.jpg" alt="" />
  </div>
  <div class="mdl-cell mdl-cell--4-col">goes</div>
  <div class="mdl-cell mdl-cell--4-col">here</div>
</div>
